
<div class="m-1 w-50">
  <div class="m-3">
    <h2>Encryption</h2>
  </div>
  <div class="m-3">
      <label>Enter text to encrypt</label>
      <input type="text" class="form-control" [(ngModel)]="plainText"/>
  </div>
  <div class="m-3">
      <button class="btn btn-primary" (click)="encrypt()">Encrypt</button>
  </div>
  <div class="m-3">
    <input type="text" class="form-control" [(ngModel)]="encryptResult"/>
  </div>
</div>

<br>

<div class="m-1 w-50">
    <div class="m-3">
      <h2>Decryption</h2>
    </div>
    <div class="m-3">
        <label>Enter text to decrypt</label>
        <input type="text" class="form-control" [(ngModel)]="cipherText"/>
    </div>
    <div class="m-3">
        <button class="btn btn-primary" (click)="decrypt()">Decrypt</button>
    </div>
    <div class="m-3">
      <input type="text" class="form-control" [(ngModel)]="decryptResult"/>

    </div>
</div>
