<h1 class="text-primary text-center mt-5">Demo Http Req/Res Encrypted Pipeline</h1>
<br>
<div class="row mx-auto mt-3">
  <div class="col-md-6 mt-2 text-center">
    <h3>Post Request</h3>
    <div class="mt-5">
      <button class="btn btn-primary" (click)="postRequest()">Send Post Request</button>
    </div>
    <div class="card border border-info mt-5 response">
      {{postResponse}}
    </div>
  </div>
  <div class="col-md-6 mt-2 text-center">
    <h3>Get Request</h3>
    <div class="mt-5">
      <button class="btn btn-primary" (click)="getRequest()">Send Get Request</button>
    </div>
    <div class="card border border-info mt-5 response">
        {{getResponse}}
    </div>
  </div>
</div>
